<%= form_with(model:@question, url: admin_questions_path) do |f| %>
    <% if @question.errors.any? %>
      <section class="errors">
      <h2> oops! your form couldn't be saved.</h2>
      <h3> Please correct the following</h3>
      <ul>
      <% @question.errors.full_messages.each do |message| %>
          <li><%=message%></li>
      <%end%>
      </ul>
      </section>
    <% end %>
   <%= f.label :question%>
   <%= f.text_field :description%>

   <%= f.label :time%>
   <%= f.number_field :maxtime%>

  
    <%= f.fields_for :options do |options_form| %>
      
        <%= options_form.label :a %>
        <%= options_form.text_field :a %>

        <%= options_form.label :b %>
        <%= options_form.text_field :b %>

        <%= options_form.label :c %>
        <%= options_form.text_field :c %>

        <%= options_form.label :d %>
        <%= options_form.text_field :d %>
        
     
    <% end %>
 
    <%= f.fields_for :answers do |answers_form| %>
     
        <%= answers_form.label :answer%>
        <%= answers_form.text_field :correct_answer %> 
      
    <% end %>


  <%= f.submit %>
<% end %>