<!DOCTYPE html>
<html>
  <head>
    <title>Quizapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <h1>Quiz</h1>
      <nav>
      <ul class="right">
            <li>
              <%= link_to "Sign in", new_session_path, class: "button"%>
            </li>
            
        </ul>
      </nav>
    </header>

    <div class = "content">
      <%= yield %>
    </div>

    <footer>
      <p>made by ....</p>
    </footer>

  </body>
</html>
