<!DOCTYPE html>
<html>
  <head>
    <title>Quizapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      
      <nav>
      <%= image_tag("quiz") %>
      <ul class="right">
      <% if current_admin %>
          <li>
            <%= link_to current_admin.name%>
          </li>
          <li>
            <%= link_to "Sign Out", session_path, method: :delete, class: "button" %>
          </li>
      <% else %>
          <%= yield :sing_in %>
          <li>
            <%= link_to "Sign in", new_session_path, class: "button"%>
          </li>
      <% end %>
        </ul>
      </nav>
    </header>

    <div class = "content">
      <%= yield %>
    </div>

    <footer>
      <p>made by ....</p>
    </footer>
    <%= yield :script %>
  </body>
</html>
